.users {
    background-color: #86b6ae;
    /*margin: 5px auto;*/
}

.selectedPage {
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}

.cont {
    position: relative;
}

.preloader {
    opacity: .5;
    display: inline-block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}