.title {

}

.friends {
    display: flex;
    text-align: center;
    justify-content: space-between;

}
.name {
    color: #f5f7f8;
    margin-left: 8px;
    /*justify-content: space-between;*/
}
.img {
    width: 40px;
    border-radius: 20px;
    justify-content: space-between;
}